<form action="<%= session_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username
  <input type="text" name="user[username]">
  </label>
  <br>

  <label>PW
    <input type="text" name="user[password]">
    </label>
    <br>

    <input type="submit" value="submit">

</form>