<h1>ROMA AND MICKEY'S AMAZING NEWS FEED APP!</h1>
<hr>

<div id='content'></div>

<div id='show'></div>

<div id='entry'></div>

<script type="application/json" id="bootstrapped-feeds-json">
  <%= @feeds.as_json(include: :entries).to_json.html_safe %>
</script>

<script>
  $(document).ready(function(){
    var feeds = JSON.parse($("#bootstrapped-feeds-json").html());
    NewReader.initialize(feeds);
  });
</script>