<h3> Feeds </h3>

<ul>
<% feeds.each(function (feed) { %>

  <li data-id="<%= feed.id %>" class="feed <%= feed.escape('favorite') %>">
    <a href="#/feeds/<%= feed.id %>">
      <%= feed.escape("title") %>
    </a> |
    <button id="favorite">Favorite</button>
    <button id="unfavorite">Unfavorite</button>
  </li>

<% }) %>
</ul>