<hr>
<h3 id="feed-title"><%= feed.escape("title") %></h3>

<button id="refresh" data-id="<%= feed.id %>">Refresh</button>

<ul>
  <% entries.each(function(entry) { %>
    <li data-id="<%= entry.id %>">
      <a href="#/feeds/<%= feed.id %>/entries/<%= entry.id %>"><%= entry.escape("title") %></a>
    </li>
  <% }) %>
</ul>